<h1>Editing User</h1>

<%= render 'form', user: @user %>

<div class="form-group">
    <%= link_to 'Afficher', @user, class: 'btn btn-success' %>
    <%= link_to 'Retour', users_path, class: 'btn btn-primary' %>
</div>
