<%= page_heading "Nouvel utilisateur" %>

<h1>Nouvel utilisateur</h1>

<%= render 'form', user: @user %>

<div class="form-group">
    <%= link_to 'Retour', users_path, class: 'btn btn-primary' %>
</div>
