<% page_heading "Accueil" %>

<h2>Bienvenue sur ZeBlog !</h2>
<p>
    Ici vous trouverez un  peu de tout, mais surtout des news techs, des tutos/explications sur certains logiciels/services/etc, 
    des retours d'exprérience quant à des outils que j'ai pu tester, et bien d'autres choses encore...
</p>
<br><br>
<h2><u>Derniers articles</u></h2>
<p>
    <%= render @posts %>
</p>
