<%= page_heading @post.name %>

<%= render @post %>

<p>
    <a href="<%= posts_path %>" class="btn btn-success">Revenir aux articles</a>
    <%#= link_to('Revenir aux articles', :posts, class: 'btn btn-success') %>
</p>

