<% no_turbolinks %>

<%= form_for @category do |f| %>
    <!-- Nom -->
    <div class="form-group">
        <label>Nom</label>
        <%= f.text_field :name, placeholder: 'Développement Ruby', class: 'form-control' %>
    </div>
    
    <!-- Slug -->
    <div class="form-group">
        <label>URL</label>
        <%= f.text_field :slug, placeholder: 'developpement-ruby', class: 'form-control' %>
    </div>
    
    <!-- Actions -->
    <div class="form-group">
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancel-modal">Annuler</button>
    </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="cancel-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Annuler ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Toutes les modifications seront perdues.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Reprendre l'édition</button>
        <a href="<%= categories_path %>" class="btn btn-danger">Oui, annuler</a>
      </div>
    </div>
  </div>
</div>